<!-- <div class="card">
  <div class="card-title">
    <div *ngFor="let p of images">
      <img src="{{ p.url }}" />
      <h1>{{ p.title }}</h1>
    </div>
  </div>
</div> -->
<nav>
  <ul class="pagination">
    <li class="page-item" [ngClass]="{ disabled: currentPage === 0 }">
      <a class="page-link" (click)="currentPage = currentPage - 1">Prev</a>
    </li>
    <li
      class="page-item"
      [ngClass]="{ active: i === currentPage }"
      *ngFor="let image of images; let i = index"
    >
      <a (click)="currentPage = i" class="page-link">{{ i + 1 }}</a>
      <img src="{{ image.url }}" />
    </li>
    <li
      class="page-item"
      [ngClass]="{ disabled: currentPage === images.length - 1 }"
    >
      <a class="page-link" (click)="currentPage = currentPage + 1">Next</a>
    </li>
  </ul>
</nav>
