<!-- <div class="card">
  <div class="card-title">
    <div *ngFor="let p of images">
      <img src="{{ p.url }}" />
      <h1>{{ p.title }}</h1>
    </div>
  </div>
</div> -->
<nav>
  <ul class="pagination">
    <li class="page-item" [ngClass]="{ disabled: currentPage === 0 }">
      <a class="page-link" (click)="currentPage = currentPage - 1">Prev</a>
    </li>
    <!--ng container allows to dd more than one directive-->
    <ng-container *ngFor="let image of images; let i = index">
      <li
        class="page-item"
        [ngClass]="{ active: i === currentPage }"
        *ngIf="checkWindowIndex(i)"
      >
        <a (click)="currentPage = i" class="page-link">{{ i + 1 }}</a>
      </li>
    </ng-container>
    <li
      class="page-item"
      [ngClass]="{ disabled: currentPage === images.length - 1 }"
    >
      <a class="page-link" (click)="currentPage = currentPage + 1">Next</a>
    </li>
  </ul>
</nav>
<div class="card mt-3" style="width: 40rem" [appClass]="'red'">
  <img [src]="images[currentPage].url" />
  <div class="card-body">
    <h4 class="card-title">
      {{ images[currentPage].title }}
    </h4>
  </div>
</div>

<ul *appTimes="5">
  <li>Hi There!</li>
</ul>
